{% extends "base.html" %}

{% block title %}Mes Projets{% endblock %}

{% block content %}
    <h1>Mes Projets</h1>
    <div class="row">
        {% for project in projects %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ project.image }}" class="card-img-top img-project" alt="{{ project.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.description|truncatewords:20 }}</p>
                        <p><strong>Technologies :</strong> {{ project.technologies }}</p>
                        <p><strong>Compétences techniques :</strong> {{ project.technical_skills|truncatewords:10 }}</p>
                        <p><strong>Soft skills :</strong> {{ project.soft_skills|truncatewords:10 }}</p>
                        <a href="{{ project.github_link }}" class="btn btn-primary" target="_blank">Voir le code sur GitHub</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
