.img-project{
    border-radius: 15px;
}

body {
    background-image: url('fond4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6, p, a {
    color: white !important;
}
a:hover {
    color: #cccccc !important; 
}
.p-color{
    color:black !important;
}